@using RetroMusicSite.WebUI.Models
@*@using RetroMusicSite.WebUI.HtmlHelpers*@
@model  ArtistViewModels

@{
    ViewBag.Title = "Артисты";
}

@{
    int number = 1;
}

<style>
    img {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 120px;
        width: 120px;
    }

    li {
        list-style: none;
        height: 180px;
        width: 148px;
    }
</style>

<div class="table">
    <ol>
        @foreach (var artist in @Model.Artists)
        {
            <li class="col-md-2">
                <a href="@Url.Action("Audio", "Music", new { artist.ArtistId })">
                    @if (@artist.PhotoUrl == null)
                    {
                        <img src="~/Content/none.jpg" />
                    }
                    else
                    {
                        <img src="@artist.PhotoUrl" />

                    }
                    <strong style="color: silver">@number</strong>
                    <strong style="margin-bottom: 40px;">@artist.Name</strong>
                    @{
                         number++;
                    }
                </a>
            </li>
        }
    </ol>
</div>